nav
    ul
        li.home
            a(href="{{ '/'|url }}") Home
        li.about
            a(href="") About
            ul
                li.about
                    a(href="{{ '/the-conference'|url }}") The Conference
                li.venue
                    a(href="{{ '/venue'|url }}") Venue
                li.organizers
                    a(href="{{ '/organizers'|url }}") The Team
                li.conduct
                    a(href="/code-of-conduct") Code of Conduct
                li.diversity
                    a(href="/diversity-and-inclusion") Diversity & Inclusion
                li.grants
                    a(href="/grants") Grants

        li.sponsors
            a(href="{{ '/sponsors'|url }}") Sponsors
            ul
                li.becom-a-sponsor
                    a(href="/become-a-sponsor") Become A Sponsor

        li.news
            a(href="{{ '/news'|url }}") News
