nav
    ul
        li.home
            a(href="") Home
        li.about
            a(href="") About
            ul
                li.about
                    a(href="") About the Conference
                li.organizers
                    a(href="{{ '/organizers'|url }}") Organizers
        li.news
            a(href="") News
        li.conduct
            a(href="/code-of-conduct") Code of Conduct
