nav
    ul
        li.home
            a(href="{{ '/pydata'|url }}") Home
        li.about
            a(href="") About
            ul
                li.about
                    a(href="{{ '/pydata/the-conference'|url }}") The Conference
                li.venue
                    a(href="{{ '/pydata/venue'|url }}") Venue
                li.organizers
                    a(href="{{ '/pydata/organizers'|url }}") The Team
                li.conduct
                    a(href="/pydata/code-of-conduct") Code of Conduct
                li.diversity
                    a(href="/pydata/diversity-and-inclusion") Diversity & Inclusion

        li.schedule
            a(href="") Program
            ul
                li.schedule
                    a(href="{{ '/pydata/schedule'|url }}") Schedule
                li.talks
                    a(href="{{ '/pydata/talks'|url }}") Speakers
                li.talks
                    a((href="https://docs.google.com/forms/d/e/1FAIpQLSerH3tTXgnUoo2CWrU3IbNevT1Fe-dbKnOwAG12GtIoCnsHVA/viewform?usp=sf_link")) Lightning Talk Sign Up
         
        li.sponsors
            a(href="") Sponsors
            ul
                li.sponsors
                    a(href="{{ '/pydata/sponsors'|url }}") Our Sponsors
                li.become-a-sponsor
                    a(href="/pydata/become-a-sponsor") Become A Sponsor
