{% if this.is_child_of('/automate') %}{% set sponsors = site.query('/automate/sponsors').include_undiscoverable(True) %}{% endif %}
{% if this.is_child_of('/webconf') %}{% set sponsors = site.query('/webconf/sponsors').include_undiscoverable(True) %}{% endif %}
{% if this.is_child_of('/pydata') %}{% set sponsors = site.query('/pydata/sponsors').include_undiscoverable(True) %}{% endif %}

.sponsor-logos-footer
  ol
    {% for tier in ["organizer", "title sponsor", "diamond", "platinum", "gold", "silver", "community sponsor", "program sponsor", "fiscal sponsor", "media sponsor"] %}
    {% set tier_sponsors = sponsors.filter(F.tier == tier).filter(F.is_npo == false) %}
    {% for sponsor in tier_sponsors %}
    li(class="{{sponsor.tier}}")
      a(
        href="{{sponsor.website}}"
        target="_blank"
        title="{{sponsor.name}}"
      )
        img(src="{{sponsor.url_path }}/{{sponsor.logo_dark_bg|default(sponsor.logo)}}")
    {% endfor %}
    {% endfor %}
