body.news .posting {
    margin: 4ex 0;
    padding: 2ex 0;
}
body.news .posting h1,
body.news .posting h2 {
    margin-bottom: 0;
}
body.news .posting h1 a,
body.news .posting h2 a {
    color: #7100FF;
    text-decoration: none;
}
body.news .posting .meta {
    margin-bottom: 4ex;
    color: #B0B0B0;
    font-size: 80%;
    text-transform: uppercase;
}
body.news.posting-list .posting .meta {
    border-bottom: 1px solid #F0F0F0;
}
body.news .more {
    text-align: center;
}
