extends "base.jade"

block body_class
    |home

block main

    section#intro
        .background(du-parallax, y="animator")
            .image.bg-cover(ff-bg="static/backgrounds/seattle.jpg")
        .overlay
        .main.vcontainer
            .inner
                .logo.bg-contain(ff-bg="static/images/logo.png")
        a.down(ng-click="scrollTo('welcome')")
            {% include "includes/chevron-down.svg" %}

    section#welcome
        .background
        .overlay
        .main.vcontainer
            .inner
                .container
                    .row.fade-up(in-view)
                        .one-half.column
                            h2 2019 &mdash; Seattle
                        .one-half.column
                            p.
                                The first PyCascades conference was a success!
                                Now it's time for a second round in 2019. We'll
                                put on a great show for you in Seattle, WA.
                            p.
                                PyCascades is a new regional PyCon in the
                                Pacific Northwest, celebrating the West Coast
                                Python developer and user community. Our
                                organizer team includes members of the
                                Vancouver, Seattle, and Portland Python user
                                groups.
                            h3.caps.
                                March, 2019#[br]
                                Seattle, WA, USA

    section#newsletter
        .background(du-parallax, y="animator")
            .image.bg-cover(ff-bg="static/backgrounds/seattle-market.jpg")
        .overlay
        .main.vcontainer
            .inner
                .container.fade-up(in-view)
                    h2 Follow our Announcements
                    p.
                        We'll make announcements here!#[br]
                        Add yourself to the list and hear the latest updates as
                        they happen.

                    p.
                        We promise not to share your email with anyone else.

                    {% include "includes/subscribe.jade" %}

    section#tweets
        .main.vcontainer
            .inner
                .container
                    h2 Join the conversation!
                    {% for tweet_url in bag('tweets').TWEETS %}
                    blockquote.twitter-tweet(data-lang="en")
                        p
                            a(href="{{ tweet_url }}")
                    {% endfor %}
                    script(async, src="//platform.twitter.com/widgets.js", charset="utf-8")
                    p.follow
                        a(href="{{ TWITTER_URL }}", target="_blank")
                            |Follow us on Twitter

block logos
    {# omit #}
