extends "base.jade"

block page_title
    |{{ this.title }}

block body_class
    |about
    |organizers

block main

    .container

        h1 {{ this.title }}

        p.
            {{ this.description.html }}

        .item-list

            {% set organizers = site.query('/organizers').include_undiscoverable(True) %}
            {% for organizer in organizers.filter(F.title == 'Conference Chair') %}
            {% include "includes/organizer.jade" %}
            {% endfor %}

        .item-list

            {% for organizer in organizers.filter(F.title != 'Conference Chair') %}
            {% include "includes/organizer.jade" %}
            {% endfor %}
