extends "base.jade"

block page_title
    |Schedule &mdash; {{super()}}

block meta_description
    |PyCascades Conference Schedule

block body_class
    |talks schedule

block main

    .container

        {% if this.is_child_of('/automate') %}{% set schedule_days = site.query("/automate/schedule") %}{% endif %}
        {% if this.is_child_of('/webconf') %}{% set schedule_days = site.query("/webconf/schedule") %}{% endif %}
        {% if this.is_child_of('/pydata') %}{% set schedule_days = site.query("/pydata/schedule") %}{% endif %}

        {% if schedule_days %}
        h1 Conference Schedule
        {% else %}
        h1 Schedule Coming Soon
        {% endif %}

        {% if this.description %}
        {{ this.description.html}}
        {% endif %}

        {% for day in schedule_days %}
        h3 {{ day.date|dateformat("EEEE, dd MMMM yyyy") }}

        table.schedule-table
            {% if this.is_child_of('/webconf') %}
            thead
                td.time Time
                td Track 1
                td Track 2
                td Track 3
            {% endif %}
            {% for timeslot in day.program %}
            tr
                td.time.
                    #[span.start {{ timeslot.start }}]
                    {% if this.is_child_of('/automate') %}
                    -
                    #[span.end {{ timeslot.end }}]
                    {% endif %}
                    {% if this.is_child_of('/pydata') %}
                    -
                    #[span.end {{ timeslot.end }}]
                    {% endif %}
                {% if this.is_child_of('/automate') %}
                {% set talk=site.query("/automate/talks").filter((F.scheduled_date == day.date).and(F.scheduled_time == timeslot.start)).first() %}
                td.description
                    {% if talk %}
                    a(href="{{ talk|url }}").
                        #[span.speaker {{ talk.speaker }}]: #[span.title {{ talk.title }}]
                    {% else %}
                    #[span.label {{ timeslot.description }}]
                    {% endif %}
                {% endif %}

                {% if this.is_child_of('/pydata') %}
                {% set talk=site.query("/pydata/talks").filter((F.scheduled_date == day.date).and(F.scheduled_time == timeslot.start)).first() %}
                td.description
                    {% if talk %}
                    a(href="{{ talk|url }}").
                        #[span.speaker {{ talk.speaker }}]: #[span.title {{ talk.title }}]
                    {% else %}
                    #[span.label {{ timeslot.description }}]
                    {% endif %}
                {% endif %}

                {% if this.is_child_of('/webconf') %}
                {% set talk=site.query("/webconf/talks").filter((F.scheduled_date == day.date).and(F.scheduled_time == timeslot.start)).first() %}
                {% if talk %}
                {% for track in ["track_1", "track_2", "track_3"] %}
                td.track
                    {% for talk in talks %}
                    {% if talk.track == track %}
                    a(href="{{ talk|url }}").
                        #[span.speaker {{ talk.speaker }}]: #[span.title {{ talk.title }}]
                    {% endif %}
                    {% endfor %}
                {% endfor %}
                {% else %}
                td.description(colspan=3)
                    #[span.label {{ timeslot.description }}]
                {% endif %}
                {% endif %}

            {% endfor %}
        {% else %}
        h3 Check out our #[a(href="{{ '/webconf/talks'|url }}") incredible speakers] while you wait.
        {% endfor %}
